/* CSS Document */
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroyextrabold.woff2") format("woff2"), 
		 url("../fonts/Gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroylight.woff2") format("woff2"),
	   url("../fonts/Gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	margin: 0;
	padding: 0;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
	color: #464646;
	background-color: #ffffff;
	letter-spacing: 0.01em;
	width: 100%;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*main header*/
.main-header {
	min-height: 186px;	
}

/*Обертка всей шапки*/
.container-nav-wrapper {
	position:relative;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 1160px;
	min-height: 186px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 40px auto 0;
	background-color: #f7e296;
}

.main-navigation a {
	display: block;
}

.container-nav {
	width: 1040px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 54px;
	margin: 32px 60px 18px;
	padding: 0;
}

/*Логотип*/
.main-logo {
	margin:0;
	padding:0;
	position: absolute;
	content: "";
	top: -23px;
	left: 60px;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 48px;
	font-weight: 800;
	letter-spacing: 0.01em;
	line-height: 1;
	text-transform: uppercase;	
}

.main-logo a {
	color: #000000;
}

.main-logo a:hover {
	opacity: 0.6;
}

.main-logo a:active {
	opacity: 0.3;
}

/*Форма поиска*/
.search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 440px;
	min-height: 54px;
	margin: 0;
	padding: 0;
	margin-right: 100px;
}

 /*Иконка поиска */
 .search-form {
	padding-left: 40px;
	position: relative;
}

.search-form::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 4px;
	width: 20px;
	height: 18px;
	background-image: url(../img/header/search.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.search-form input {
	border: 0;
	background-color: transparent;
	opacity: 0.3;
}

.search-form input:hover {
	opacity: 0.6;
}

.search-form input:focus {
 	outline: none;
 	opacity: 1;
 	border-bottom: 2px solid black;
}

 /*Кнопка поиска*/
.search-button {
	background-color: transparent;
	border: 2px solid black;
}

.search-button:hover {
	background-color: #000000;
	color: #ffffff;
	border: 2px solid black;
}
.search-button:active {
	background-color: #000000;
	color: rgba(251,251,251,0.3);
	border: 2px solid black;
}

/*Пользовательская навигация*/
/* Войти */
.user-navigation {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 223px;
	min-height: 54px;
	margin: 0;
	padding: 0;
	margin-right: 64px;	
}

.user-navigation .login-link {
	padding-left: 27px;
	position: relative;
}
/*Иконка войти */
.login-link::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 15px;
	height: 15px;
	background-image: url(../img/header/user_login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;	
}
 /*Активность иконки войти*/
.login-link:hover::before {
	opacity: 0.6;
}

.login-link:active::before {
	opacity: 0.3;
}

/* Корзина и Сравнить */
.actions a {
	display: block;
}

.actions {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 216px;
	min-height: 54px;
	margin: 0;
	padding: 0;
}

/*Иконка сравнить */
 .actions .compare-link {
	padding-left: 22px;
	position: relative;
}

.compare-link::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 0;
	width: 10px;
	height: 10px;
	background-image: url(../img/header/compare.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

 /*Активность иконки сравнить*/
.compare-link:hover::before {
	opacity: 0.6;
}

.compare-link:active:before {
	opacity: 0.3;
}

/*Иконка корзины */
 .actions .basket-link {
	padding-left: 25px;
	position: relative;
}

.basket-link::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 12px;
	height: 12px;
	background-image: url(../img/header/basket.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

 /*Активность иконки корзина*/
.basket-link:hover::before {
	opacity: 0.6;
}

.basket-link:active::before {
	opacity: 0.3;
}

.user-navigation a,
.actions a {
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
	font-weight: normal;
	text-transform: none;
}

.user-navigation a:hover,
.actions a:hover {
	opacity: 0.6;
}

.user-navigation a:active,
.actions a:active {
	opacity: 0.3;
}

/*Навигация по сайту*/
.site-navigation a{
	display: block;	
	white-space: nowrap;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 1040px;
	min-height: 36px;
	margin: 0 60px 18px;
	padding: 0;
	list-style: none;
}

.site-navigation > li:nth-of-type(2) {
  margin-left: 255px;
}

.site-navigation > li:nth-of-type(3) {
  margin-right: 72px;
}

.site-navigation .site-navigation-item:first-child {
	padding-right: 32px;
	position: relative;
}

.site-navigation-item:first-child::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	background-image: url("../img/header/plus.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.site-navigation-item {
	position:relative;
}
.site-navigation a {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.2em;
	color: #000000;
	line-height: 1;
	text-transform: uppercase;
}

.site-navigation-fill:hover,
.catalog-menu-fil:hover {
	opacity: 0.6;
}

.site-navigation-fill:active,
.catalog-menu-fil:active {
	opacity: 0.3;
}

.plus:hover {
	opacity: 0.3;
}
.plus:active {
	opacity: 0.3;
}
/*Меню каталога*/

/* Выпадающий список меню */
.catalog-menu-wrapper {
	display: none;
	list-style:none;
	position:absolute;
	top: 28px;
	left: -60px;
	width: 1160px;
	margin: 0;
	padding: 0;
	background: #f7e296;
	z-index: 5;
} 

.catalog-menu  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	width:560px;
	min-height: 141px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left:56px;
}

.catalog-menu a {
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
	font-weight: normal;
	text-transform: none;
}

.catalog-menu-item:first-child {
	margin-right: 65px;
}

.catalog-menu-item:nth-child(2) {
	margin-right: 74px;
}

.catalog-menu-item:nth-child(4) {
	margin-right: 91px;
}

.catalog-menu-item:nth-child(5){
	margin-right: 180px;
}

.plus:hover  .catalog-menu-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 1;
}



/*  Главная страница  */
/*Раздел слайдера*/
.some-products h2,
.services-description h2,
.about-us h2,
.contacts h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	font-weight: 800;
	letter-spacing: 0.01em;
	line-height: 1;
	color: #000000;
}

/*Табличка характеристик*/
.values {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 0.01em;
	line-height: 1;
	color: #000000;
}
.parametr {
	font-family: "OpenSans", Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
}

.values,
.parametr {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width:153px;
	margin:0;
	padding: 0;
	white-space: nowrap;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	}

.characters {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	    -ms-flex-direction:row;
	        flex-direction:row;
	width: 461px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin:0;
	padding:0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 65px;
}

.slide a{
	display: block;
}

/*Обертка для слайдера*/
.slide-container {
	position: relative;
	background-image: -webkit-linear-gradient(#f7e296 110px, transparent 110px);
	background-image: -o-linear-gradient(#f7e296 110px, transparent 110px);
	background-image: linear-gradient(#f7e296 110px, transparent 110px);
	width: 1160px;
	margin: 0 auto 0;
	min-height: 486px;
}

/*блок самого слайда (и фото и описание)*/
.slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1160px;
	min-height: 486px;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
	margin: 0 auto 0;	
}

/*Фото слайда*/
.slide-photo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width:560px;
	margin:0px;
	padding:0px;
	min-height: 486px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/*Раздел описания слайда*/
.slide-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width:560px;
	min-height:486px;
}

.slide h2 {
	margin: 0;
	padding: 0;
	margin-top: 82px;
	margin-bottom: 27px;
	z-index: 1;
}

.slide p {
	margin: 0;
	padding: 0;
	margin-bottom: 55px;
	width: 490px;
}

/*Кнопка для слайда*/
.slide .button {
	width: 220px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

.slide-control {
	position: absolute;
	top: 324px;
	right: 67px;
	z-index: 1;
}

.slide-control label {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border: 1px solid rgba(0,0,0,0.8);
	border-radius: 50%;
	-webkit-box-shadow: inset 0 0 0 3px #ffffff;
	        box-shadow: inset 0 0 0 3px #ffffff;
	cursor: pointer;
}

.some-products input[type=radio] {
 display:none;
}

#button1:checked ~ .slide-control label[for="button1"],
#button2:checked ~ .slide-control label[for="button2"],
#button3:checked ~ .slide-control label[for="button3"] {
  -webkit-box-shadow: inset 0 0 0 3px #fffff, inset 0 0 0 4px #000000;
          box-shadow: inset 0 0 0 3px #fffff, inset 0 0 0 4px #000000;
}

.some-products .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide {
	display:none;
}

/*номер слайда*/
.slide-number {
	position: absolute;
	top: -17px;
	right:49px;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	font-size: 179px;
	line-height: 179px;
	letter-spacing: 0.01em;
	color: #ffffff;
}

/*декоративный элемент*/
.slide h2::before {
	content: "";
	position: absolute;
	top: 58px;
	right: 456px;
 	-webkit-box-sizing:border-box;
 	        box-sizing:border-box;
	width: 100px;
    height: 10px;
    background-color: #ffffff;
	border:solid #ffffff;
    border-width:0 .5em 0;
}

/*Кнопки: в слайдере, в разделах: сервис, контакты и о нас*/
.some-products .button, 
.services-button,
.contacts .button,
.about-us .button { 
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.2em;
	color: #000000;
	text-transform: uppercase;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);
	background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.some-products .button:hover,
.services-button:hover,
.contacts .button:hover,
.about-us .button:hover { 
	background-color: #f0c52e;
}

.some-products .button:active,
.contacts .button:active,
.about-us .button:active {
	opacity: 0.3;
	background-color: #f0c52e;
}

/*Категории товаров*/
.product-category-list a {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.01em;
	line-height: 1;
	color: #000000;
}

.product-category {
    width: 1160px;
	margin: 100px auto 160px;
} 

.product-category-list {
	list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.product-category-item {
	width: 160px;
}

.product-category-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 160px;
	height: 160px;
	background-color: #f7e296;
	margin-bottom: 30px;
}

.product-category-img:active  {
	opacity: 0.3;
}

.product-category-wrapper:hover  {
	background-color: #f0c52e;
}

.product-category-list a:hover {
	opacity: 1;
}

.product-category-list a:active {
	opacity: 0.3;
}

/*Услуги*/
.services {
	width:100%;
	background-image: -webkit-linear-gradient(#ffffff 30px, #e5e5e5 30px);
	background-image: -o-linear-gradient(#ffffff 30px, #e5e5e5 30px);
	background-image: linear-gradient(#ffffff 30px, #e5e5e5 30px);
}

/*Блок для категории услуг и их описания*/
.services-wrapper {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 1160px;
	min-height: 378px;
	margin: 0 auto 0;
	background-image: -webkit-linear-gradient(#ffffff 30px, #e5e5e5 30px);
	background-image: -o-linear-gradient(#ffffff 30px, #e5e5e5 30px);
	background-image: linear-gradient(#ffffff 30px, #e5e5e5 30px);
}

/*Категории услуг*/
.set-of-services-name {
	list-style: none;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 284px;
	min-height: 378px;
	border-right: 7px solid #000000;
	margin: -80px 0 0 auto;
	padding:0;
	padding-top: 97px;
}

.set-of-services-list {
	margin-bottom: 25px;
    width: 277px;
    height: 44px;
}

/*Описание услуг*/
.services-description {
	position: relative;
    margin: 0;
    margin-left: 100px;
    padding: 0;
	margin-top: -35px;
    width: 700px; 
}

/*декоративный элемент после описания услуги*/
.services-description-delivery::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50px;
    width: 140px;
    height: 170px;
    background-image: url("../img/services/delivery.svg");
    background-repeat: no-repeat;
	background-position: 0 0;
}

.services-description-warranty::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50px;
    width: 140px;
    height: 170px;
    background-image: url("../img/services/warranty.svg");
    background-repeat: no-repeat;
	background-position: 0 0;
}

.services-description-credit::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50px;
    width: 140px;
    height: 170px;
    background-image: url("../img/services/credit.svg");
    background-repeat: no-repeat;
	background-position: 0 0;
}

.services-description-list {
	display: none;
	width: 460px;
}

.services-description h2 {
	margin-bottom: 30px;
}

.set-of-services-name a {
	display: block;
}

.set-of-services .services-button,
.set-of-services .services-button,
.set-of-services .services-button { 
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-ms-flex-item-align: center;
	    align-self: center;
}

/*Активное положение*/
.set-of-services-list-active {
	margin-bottom: 25px;
    width: 285px;
    height: 44px;
	background-color: #000000;
}
.set-of-services-list .active-button {
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	-ms-flex-item-align: center;
	    align-self: center;
	background-color: #000000;
	color: #f7e184;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #000000), color-stop(60%, #000000), color-stop(60%, rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 40%, #000000 40%, #000000 60%, rgba(0, 0, 0, 0) 60%);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 40%, #000000 40%, #000000 60%, rgba(0, 0, 0, 0) 60%);
	background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, #000000 40%, #000000 60%, rgba(0, 0, 0, 0) 60%);
}

.services-description .active {
	display: block;
}

/*Бренды*/
.brands {
    width: 1160px;
    margin: 108px auto 92px;
} 

.brands-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
    padding: 0;	
}

/* обесцвечивание картинки*/
.brands img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	        filter: gray; /* IE 6-9 */
}

/*цветная картинка при наведении*/
.brands img:hover {
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
}
.brands-item li {
	display: inline-block;
}

.brands-item-list a {
	opacity: 0.2;
}

.brands-item-list a:hover {
	opacity: 1.0;
} 

/*Раздел о нас и контакты*/
.about-us p,
.contacts p {
	letter-spacing: 0em;
}

/*Блок, содержащий о нас и контакты*/
.information {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    width: 1160px;
	min-height: 596px;
	margin: 0 auto;
	padding: 0;
} 

/*декоративная линия перед блоком о нас и контакты*/
.about-us::before,
.contacts::before {
    content: "";
  	display:inline-block;
	vertical-align:middle;
 	-webkit-box-sizing:border-box;
 	        box-sizing:border-box;
	width: 80px;
    height: 7px;
    background-color: #000000;
	border:solid #ffffff;
    border-width:0 .5em 0;
}

/* О нас*/
.about-us {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 460px;
	min-height: 596px;
}

.about-us h2 {
	margin:0;
	padding: 0;
	margin-top: 35px;
	margin-bottom: 47px;
}

.about-us p {
	margin:0;
	padding: 0;
}

.transport-company a {
	color: #000000;
}

.transport-company {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	margin-top: 72px;
	margin-left: 32px;	
}

.transport-company li {
	list-style: none;
	position: relative;
}

.transport-company li::before {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	top: 14px;
	left: -35px;
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	border-radius: 50%;
}

.about-us a,
.contacts a {
	display: block;
}

.about-us .button {
	margin-bottom:90px;
	margin-top: 72px;
	width: 260px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

/*Контакты*/
.contacts {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 560px;
	min-height: 596px;
}

.contacts h2 {
	margin: 0;
	padding: 0;
	margin-top: 35px;
	margin-bottom: 47px;
}

.contacts p {
	margin: 0;
	padding: 0;
	margin-bottom: 42px;
}

.contacts .button{
	margin-bottom:90px;
	margin-top: 70px;
	width: 260px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

/*Подвал*/
.all-footer {
	background-color: #464646;
	color: #ffffff;
}

.footer-navigation a {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.2em;
	line-height: 1;
	color: #ffffff;
	text-transform: uppercase;
}

.user-footer-navigation a,
.footer-actions a {
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #ffffff;
	font-weight: normal;
	text-transform: none;
}

.footer-social li {
 	display: inline-block;
}

/*Блок для подвала, включающий левую, центральную и правую части*/
.footer-wrapper {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	width:1160px;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	margin: 0 auto;
	min-height: 322px;
}

/*Левая часть*/
.left-part-footer {
	position: relative;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	width: 468px;
	min-height: 322px;
	padding: 0;	
}

/*Логотип в подвале*/
.footer-logo {
	margin:0;
	padding:0;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 48px;
	font-weight: 800;
	letter-spacing: 0.01em;
	line-height: 1;
	margin-top: 59px;
	margin-bottom: 25px;
	text-transform: uppercase;	
}

.footer-logo a{
	color: #ffc600;
}

.footer-logo a:hover {
	opacity: 0.6;
}

.footer-logo a:active {
	opacity: 0.3;
}

/*Декоративный элемент*/
.footer-contacts::after {
	content: "";
	position: absolute;
	bottom: 78px;
	left: 0;
 	-webkit-box-sizing:border-box;
 	        box-sizing:border-box;
	width: 80px;
    height: 7px;
    background-color: #ffc600;
	border:solid #ffc600;
    border-width:0 .5em 0;
}

/*Центральная часть*/
.center-part-footer{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 440px;
	min-height: 322px;
}

/*Навигация по сайту в подвале*/
.footer-navigation {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	width:440px;
	min-height: 20px;
	margin:0;
	padding: 0;
	margin-top: 95px;
	margin-bottom: 66px;
}

.footer-navigation a:hover {
	opacity: 0.6;
}

.footer-navigation a:active {
	opacity: 0.3;
}

/*Блок для соц сетей*/
.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack:distribute;
	    justify-content:space-around;
	width:160px;
	min-height: 35px;
	margin: 0;
	padding: 0;
}

/*ссылки на соц сети*/
.social-button {
 	display: block;
 	font-size: 0;
 	width: 32px;
 	height: 32px;
 	border-radius: 50%;
 	background-color: #7e7e7e;
 	opacity: 0.3;
}
.sb-fb {
 	background-image: url("../img/footer/ФБ.svg");
  	background-repeat: no-repeat;
  	background-position: center;
}
.sb-in {
  	background-image: url("../img/footer/Инстаграм.svg");
  	background-repeat: no-repeat;
  	background-position: center;
}
.sb-tw {
  	background-image: url("../img/footer/Твитер.svg");
  	background-repeat: no-repeat;
  	background-position: center;
}

.social-button:hover {
  	opacity: 0.6;
}

.social-button:active {
  	opacity: 0.1;
}

/*Правая часть*/
.right-part-footer {
	position: relative;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	width: 328px;
	min-height: 322px;
}

/*Пользовательская навигация в подвале*/
.user-footer-navigation {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 328px;
	min-height: 18px;
	margin:0;
	padding: 0;
	margin-top: 71px;
	margin-bottom: 55px;
}

.user-footer-navigation a {
	display: block;
}

.user-footer-navigation .login-footer-link {
	padding-left: 27px;
	position: relative;
}

.login-footer-link::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 15px;
	height: 15px;
	background-image: url("../img/footer/user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.login-footer-link:hover::before {
	opacity: 0.6;
}

.login-footer-link:active::before {
	opacity: 0.3;
}

.user-footer-navigation .footer-compare-link {
	padding-left: 22px;
	position: relative;
}
 
.footer-compare-link::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 10px;
	height: 10px;
	background-image: url("../img/footer/compare.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-compare-link:hover::before {
	opacity: 0.6;
}

.footer-compare-link:active::before {
	opacity: 0.3;
}

.user-footer-navigation .footer-basket-link {
	padding-left: 25px;
	position: relative;
}

.footer-basket-link::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 15px;
	height: 15px;
	background-image: url("../img/footer/cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
 
.footer-basket-link:hover::before {
	opacity: 0.6;
}

.footer-basket-link:active::before {
	opacity: 0.3;
}

.user-footer-navigation a:hover {
	opacity: 0.6;
}

.user-footer-navigation a:active {
	opacity: 0.3;
}
.phone {
	margin:0;
	margin-bottom: 66px;
	text-align: right;
}

/*Логотип академии*/
.academy-logo {
	position: absolute;
	top: 206px;
	right: -3px;
}

.academy-logo a::before {
	content: "";
	display: inline-block;
	width: 35px;
  	height: 35px;
	background-image: url("../img/footer/logo-html.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.academy-logo:hover {
  	opacity: 0.6;
}

.academy-logo:active {
  	opacity: 0.3;
}


/*  КАТАЛОГ */
/*Пользовательское меню в каталоге*/
.user-navigation-inner li{
	list-style: none;
}

.user-navigation-inner a{
	color: #000000;
}

.user-navigation-inner a {
	display:block;
}

.user-navigation-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 223px;
	min-height: 54px;
	margin: 0;
	padding: 0;
	margin-right: 64px;
}

.user-navigation-inner .user-link {
	padding-left: 27px;
	position: relative;
}

.logout-link {
	opacity: 0.3;
}

.user-link::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	width: 15px;
	height: 15px;
	background-image: url(../img/header/user_login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

 /*Активность иконки войти*/
.user-link:hover::before {
	opacity: 0.6;
}

.user-link:active::before {
	opacity: 0.3;
}

.user-navigation-inner a:hover {
	opacity: 0.6;
}

.user-navigation-inner a:active {
	opacity: 0.3;
}

/* Заголовок раздела каталога*/

.page-title {
	padding:0;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	font-weight: 800;
	letter-spacing: 0.01em;
	color: #000000;
	width:1160px;
	margin: 35px auto 25px;
	padding-left: 122px;
}

.breadcrumbs,
.filter-color,
.filter-bluetooth,
.sorting-item,
.catalog-list {
	list-style: none;
}

/*Хлебные крошки*/
.breadcrumbs a{
	display: block;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 14px;
  	line-height: 36px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a{
	display: block;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	width: 1160px;
	margin: 0 auto 50px;
	padding: 0;
	padding-left: 122px;
}

.breadcrumbs-item  {
  	position: relative;
  	margin-right: 39px;
}

.breadcrumbs-item:not(:last-child)::after {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	right: -20px;
	-webkit-transform: translate(0%, -50%);
	    -ms-transform: translate(0%, -50%);
	        transform: translate(0%, -50%);
	width: 4px;
	height: 7px;
	background-image: url("../img/catalog/nav-arrow.svg");
}

.breadcrumbs a:hover {
 	opacity: 0.6;
}

.breadcrumbs a:active {
 	opacity: 0.1;
}

.catalog-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	width: 100%;
	margin:0;
	padding:0;
} 

/*Раздел фильтры*/
.filters,
.sorting {
	background-color: #efefef;
}

fieldset {
	border: 0;
}

.filters h2,
.filter legend,
.sorting h2{
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.01em;
	line-height: 1;
	color: #000000;
}

.filters h2,
.sorting h2{
	text-transform: uppercase;
}

/*Левая часть страницы каталога (настройка фильтров)*/
.filters {
	position: relative;
	padding:0;
	margin: 0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	width: 32.5%;
	padding-right: 68px;
	background-color: rgba(235, 235, 235, 1);
}


 /* Ячейка надписи Фильтр слева*/
.fil-name {
	margin: 0;
	padding: 0;
	padding-left: 152px;
}

.filter-name {
	position:absolute;
	top:0;
	right:0;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 70px;
	background-color: rgba(219, 219, 219, 1);
}

/*Фильтр стоимости*/
.rang-filter {
	padding:0;
	margin:0;
	width: 201px;
	min-height: 142px;
	padding-top: 12px;
	margin-top: 139px;
	border-top: 2px solid rgba(0, 0, 0, 1);
	border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.scale {
	width: 201px;
	height: 2px;
	background-color: #dbdbdb;
}

.range-controls {
	position: relative;
}

.range-controls {
	margin-top: 37px;
}

.range-toggle {
	position: absolute;
	top: 50%;
	left: 0%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 4px;
	height: 4px;
	border: 8px solid rgba(255, 255, 255, 1);
	background: rgba(177, 177, 177, 1);
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(177, 177, 177, 1);
	        box-shadow: 0 2px 1px 0 rgba(177, 177, 177, 1);
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	cursor: pointer;
}

.toggle-max {
	left: 57%;
}

.bar {
	height: 2px;
	background-color: #91c92f;  
	width: 60%;
}

.price-controls {
	margin-top: 10px;
	font-family: "Gilroy";
	font-weight: 300;
	font-size: 14px;
	line-height: 22.27px;
	letter-spacing: 0;
	opacity: 0.2; 
}

.price-controls input {
	width: 50px;
	border: none;
	background-color: rgba(239, 239, 239, 1);  
}

.price-controls label {
	margin-right: 20px;  
}

.price-controls label:last-of-type {
	margin-right: 0px;  
}

.color-wrapper {
	padding:0;
	margin: 0;
	width: 201px;
	min-height: 285px;
	margin-bottom: 12px;
	border-bottom: 2px solid rgba(0, 0, 0, 1);	

}

.filter-color-list {
	margin-bottom: 17px;
}

.filter-pos:first-child {
	margin-bottom: 16px;
}
.filter-pos:last-child {
	margin-bottom: 50px;
}

.step a,
.button {
	display: block;
}

.step .button,
.button {
	width: 220px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

/*Чекбокс*/
.filter-color input[type="checkbox"],
.filter-bluetooth input[type="radio"] {
	display: none;
}

.filter-color-list label,
.filter-pos label {
	position: relative;
	font-family: inherit;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
	color: #000000;
	opacity: 1;
}

.filter-basic:hover + label,
.filter-basic:focus + label {
	opacity: 0.6;
	cursor: pointer;
}

.filter-selected + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0;
	width: 27px;
	height: 23px;
	background: url('../img/filters/checkbox-off.svg') no-repeat left top;
}

.filter-selected:checked + label::before {
	background: url('../img/filters/checkbox-on.svg') no-repeat left top;
}

.filter-selected-radio + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: -1px;
	width: 19px;
	height: 19px;
	border: 3px solid #000000;
	border-radius: 50%;
}

.filter-selected-radio:checked + label::before {
	-webkit-box-shadow: inset 0 0 0 4px #ffffff, inset 0 0 0 10px #000;
	        box-shadow: inset 0 0 0 4px #ffffff, inset 0 0 0 10px #000;
}

.filter-basic:disabled + label {
	opacity: 0.25;
	cursor: default;
}

/*Кнопка для фильтра*/
.filter .button,
.catalog .button{ 
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.2em;
	color: #000000;
	text-transform: uppercase;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);
	background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);	
}

.filter .button:hover,
.catalog .button:hover{ 
	background-color: #f0c52e;
}

.filter .button:active,
.catalog .button:active {
	opacity: 0.3;
	background-color: #f0c52e;
}

/* Ячейка Сортировка справа*/
.right-section {
	margin: 0;
	padding: 0;
	list-style: none;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 67.5%;
}

.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row; 
	-webkit-box-align: center; 
	    -ms-flex-align: center; 
	        align-items: center;
	width: 100%;
	min-height: 70px;
  	padding: 0;
	background-color: rgba(235, 235, 235, 1);
}

.sorting h2 {
	margin:0;
	margin-left: 68px;
}

/* Для сортировки треугольники*/
.up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #000000;
	opacity: 0.2;
}

.down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000000;
	opacity: 0.2;
}

.sorting-item a {
	display:inline-block;
}

.sorting-item {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 70px;
	width: 560px;
	margin-left: 56px;
	background-color: rgba(235, 235, 235, 1);
}

.sorting-item li:first-child a {
	margin-right: 35px;
}

.sorting-item li:nth-child(2) a{
	margin-right: 30px;
}

.sorting-item li:nth-child(3) a{
	margin-right: 200px;
}

.sorting-item li:nth-last-child(2) a {
	margin-right: 18px;
}

.sorting-item li:last-child(2) a {
	margin-right: 5px;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;	
}

.sorting-item a:hover {
	opacity: 0.6;
}

.up:hover,
.down:hover {
	opacity: 0.4;
}
.sorting-item a:active,
.up:active,
.down:active {
  	opacity: 1;
}


/* Раздел каталога */
.catalog h3 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.01em;
	line-height: 1;
	color: #000000;
}

.catalog p {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.01em;
	line-height: 1;
	color: #464646;
}

.catalog-item a:hover {
 	opacity: 0.7;
}

.button-compare {
 	font-family: "OpenSans", Arial, sans-serif;
	font-weight: 300;
 	font-size: 13px;
 	line-height: 36px;
	letter-spacing: 0.01em;
 	color: #000000;
 	opacity: 0.5;
}

.button-compare:hover {
 	opacity: 1;
}

.button-compare:active {
 	opacity: 0.2;
}

.catalog-list {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row; 
	-webkit-box-pack: justify; 
	    -ms-flex-pack: justify; 
	        justify-content: space-between;
	width: 745px;
	margin: 70px 140px 33px 72px;
	padding: 0;
}

.catalog-item {
	position:relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width:360px;
	margin: 0;
	padding: 0;
	margin-bottom: 42px;
	list-style: none;
}

.catalog-item:last-child,
.catalog-item:nth-last-child(2) {
	margin: 0;
}

.catalog-item .picture {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	with: 360px;
	height: 380px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 30px;
}


/*Добавить в корзину и к сравнению для каждой карточки товара*/

.step a{
	display: block;
}

 .step {
	 position: absolute;
	 top:0;
	 left:0;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	     -ms-flex-direction: column;
	         flex-direction: column;
	 width: 360px;
	 height: 380px;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 background-color: rgba(232, 232, 232, 0.7);
}

.catalog-item .step {
	display:none;
}

.catalog-item:hover .step{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}

/*Наименование товара и стоимость*/
.name-i-price {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 364px;
	min-height: 54px ;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.note {
	margin: 0;
	paddind:0;
	width: 260px;
}

.note a {
	display: block;
	color: #000000;
}

.price-item {
	margin: 0;
	paddind:0;
}

 /* label NEW  */
.marker {
	position: absolute;
	top: 29px;
	right: 27px;
	width: 60px;
	height: 60px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}

.marker-item {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.05em;
	color: rgba(0, 0, 0, 0.2);
}

.marker-item .marker {
	display: block;
}

/*Нумерация страниц*/
.pagination-list {
 	list-style: none;
 	font-size: 0;
	padding: 0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 760px;
	min-height: 70px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #ebebeb;
	margin: 33px 140px 77px 72px;
}

.pagination-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  	-ms-flex-item-align: stretch;
  	    align-self: stretch;
}

.pagination-list a {
 	font-family: "Gilroy", Arial, sans-serif;
 	font-size: 16px;
 	font-weight: 800;
 	letter-spacing: 0.2em;
	line-height: 1;
 	text-transform: uppercase;
	color: #000000;
}

/* Стили для страниц назад и вперед*/
.forward,
.backward {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: stretch;
	    align-self: stretch;
	width: 137px;
}

.pagination-item:nth-child(2) {
	margin-left: auto;
	margin-right: 30px;
}

.pagination-item:nth-last-child(2) {
	margin-left: 30px;
	margin-right: auto;
}

.pagination-item a {
 	opacity: 0.3;
}

.pagination-item:hover a {
 	opacity: 0.6;
}

.pagination-item:active a {
 	opacity: 1;
}

.pagination-item:first-child a,
.pagination-item:last-child a,
.pagination-item-current a {
 	opacity: 1 ;
}

.pagination-list .pagination-item:hover:first-child,
.pagination-item:hover:last-child {
	background-color: #d9d9d9;
}

.pagination-item:active:first-child a,
.pagination-item:active:last-child a {
 	opacity: 0.3;
}

/*Модальные окна*/
.modal {
	position:relative;	
}

.modal-write,
.modal-map {
	position: fixed;
	display:none;
	width: 960px;
	height: 560px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 1;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0, 0.3);
	        box-shadow: 0 0 5px rgba(0,0,0, 0.3);
}

.modal-entry label{
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}

.modal-entry textarea {
	resize: vertical;
}

.modal-entry input,
.modal-entry textarea {
	font-family: inherit;
	font-size: 14px;
	line-height: 18px;
	color: #464646;
	background-color: #f2f2f2;
	border: none;
}

.modal-entry input:hover,
.modal-entry textarea:hover {
	background-color: #ebebeb;
}

.modal-entry input:focus,
.modal-entry textarea:focus {
	outline: none;
	-webkit-box-shadow: 0 0 0 3px rgba(240,197,46,0.5);
	        box-shadow: 0 0 0 3px rgba(240,197,46,0.5);
}

.modal-entry input:invalid,
.modal-entry textarea:invalid {
	background-color: #f6dada;
}

.modal-close {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	opacity: 0.5;
}

.modal-close::before {
	content: " ";
	display: inline-block;
	width: 55px;
	height: 55px;
	background-image: url("../img/modal/modal-close.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.3;
}

.write-us {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 72px 100px 75px 100px;
}

.modal-entry input, 
.modal-entry textarea {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 360px;
	padding: 15px 20px;
}

.modal-entry textarea {
	width: 760px;
	height: 155px;
	margin-bottom: 55px;
}

.modal-write .button {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.2em;
	line-height: 1;
	color: #000000;
	text-transform: uppercase;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);
	background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(0, 0, 0, 0) 60%);
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-top: 65px;
}

.modal-entry {
  width: 360px;
}

.modal-entry:nth-of-type(2) {
  margin-left: 40px;
}

.modal-entry:last-of-type {
  width: 100%;
  height: 155px;
}